

/* :root {
   
  --Black-Text: rgba(0,0,0,.6);
  --Blue-Button: blue;
  --Gray-Modal: #fff;
  --Gray-Fundo: rgba(0,0,0,.1);
  --Gray-Borda:  rgba(0,0,0,.2);
  --Gray-Sugestao: rgba(0,0,0,.5);
  --Gray-Placeholder: rgba(0,0,0,.9);
  --yellow-Title: #ffa500;
  --Blue-Button: #3483fa;
} */
