body,
h1,
ul,
li,
p,
dd,
dt,
dl,
h2,
* {
    padding: 0;
    margin: 0;
}

:root {
    --corBeige: beige;
    --corRodape: #222;
    --corTittle: orange;
    --corTextGray: #7f7e7e;
}

.section-container {
    display: flex;
    grid-column: 1/4;
    background-color: rgba(184, 184, 182, 0.6);
    width: 100%;
    height: 350px;
    margin: 0;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
}

.text-tittle {
    display: flex;
    justify-content: start;
    align-items: center;
    letter-spacing: 0.8;
    color: #222;
    font-weight: 400;
    height: 20px;
    font-size: 15px;
    font-family: sans-serif;
    margin: none;
}

.grid-left {
    display: flex;
    width: 35%;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.grid-right {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
}

.info-login {
    display: block;
    width: 100%;
    height: 98%;
    border-radius: 4px;
    margin: 0;
}

.secaoEmail {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 5px;
}

.area {
    max-width: 100%;
    height: 45%;
    margin: 0;
    margin-top: 18px;
    position: relative;
    border-radius: 4px;
}

textarea {
    width: 99%;
    height: 95%;
    position: absolute;

    text-indent: 10px;
    text-transform: capitalize;
    border-radius: 4px;
    border: none;

    outline: none;
}

.formName {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 45px;
    margin: 0;
    margin-top: 4px;
    border-radius: 4px;
}

.formEmail {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 45px;
    margin: 0;
    margin-top: 10px;
    border-radius: 4px;
}

.info-login input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 7px #222;
    outline: none;

}

.required-fild-name {
    font-size: 10px;
    color: red;
}

.inputName {
    color: #070707;
    font-size: 15px;
    width: 85%;
    padding: 1px 1px 1px;
    border: none;
    border-radius: 4px;
    margin: 1;
    text-transform: capitalize;
    margin-top: 8px;
}

.inputEmail {
    color: #070707;
    font-size: 15px;
    width: 85%;
    padding: 1px 1px 1px;
    border: none;
    margin: 0;
    text-transform: capitalize;
    margin-top: 8px;
}

.labelName {
    color: #ccc;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 20%;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
    margin: 0;
}

.labelEmail {
    color: #ccc;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 20%;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
    margin: 0;
}

.spanName {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 0;
}

.spanEmail {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
    margin: 0;
}

.labelName::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 105%;
    border-bottom: 3px solid #070707;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.labelEmail::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 105%;
    border-bottom: 3px solid #070707;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.inputName:focus+label span,
.inputName:valid+label span {
    transform: translateY(-90%);
    font-size: 14px;
    bottom: 10px;
    color: #070707;
}

.inputEmail:focus+label span,
.inputEmail:valid+label span {
    transform: translateY(-90%);
    font-size: 14px;
    bottom: 10px;
    color: #070707;
}

.inputName:focus+label::after,
.inputName:valid+label::after {
    transform: translateX(0%);
}

.inputEmail:focus+label::after,
.inputEmail:valid+label::after {
    transform: translateX(0%);
}

.botton {
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: azure;
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 15px;
}

.botton:hover {
    background-color: #8d8a8a;
}

.img-telefonista {
    width: 98%;
    height: 98%;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .section-container {
        margin-top: -130px;
        display: block;
        width: 96%;
        height: 100%;
    }

    .footerContainer {
        margin-top: 30px;
        height: 460px;
    }

    .formName {
        background-color: yellow;
    }

    .spanName {
        background-color: royalblue;
    }

    .divMenu {
        background-color: orange;
        width: 95px;
    }

    .divLeft {
        width: 98px;
        background-color: blue;
    }

    .grid-left {
        height: 340px;
        width: 100%;
    }

    .info-login {
        width: 340px;
        height: 280px;
    }

    .area {
        border: none;
        border: 1px solid #222;
    }

    .text-tittle {
        font-size: 8px;
    }

    .grid-right {
        height: 170px;
        width: 100%;
    }

    .img-telefonista {
        width: 340px;
    }

    .botton {
        margin-top: 30px;
    }

    .sectionFooter {
        margin-top: 10px;
        display: block;
        height: 380px;
        justify-content: center;
    }

    .divAdress {
        margin: 0;
        width: 340px;
    }

    .divAdress p {
        margin-left: 7px;
        font-size: 10px;
    }

    .imgs {
        margin-top: -120px;
    }

    .redesociais {
        height: 80px;
    }

    .divMaps {
        margin-top: 10px;
        width: 340px;
    }

    .inputName {
        width: 58px;
    }

    .inputEmail {
        width: 50px;
        background-color: orangered;
        height: 500px;
    }

    .headContainner {
        display: flex;
        justify-content: center;
        gap: 5px;
    }
}